.aboutUs__row{
  text-align: center;
}

.aboutUs__headline{
  text-align: center;
  color: #ba0000;
  padding-bottom: 50px;
}

.aboutUs__imgExcel{
  height: 225px;
}

.aboutUs__imgTeam{
  height: 200px;
}