.contact {
  padding-top: 90px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;

  .contact__headline {
    color: #ba0000;
  }
  
  .contact__text {
    font-size: 27px;
    max-width: 700px;
    text-align: center;
  }
  
  .contact__linkedin {
    width: 80px;
    margin-bottom: 12px;
  }

  .contact__linkedin-text:hover, .contact__mail-text:hover {
    color: #666;
  }
  
  .contact__mail {
    width: 100px;
  }


}

