.contact {
  .contact__headline {
    color: #ba0000;
  }
  
  .contact__text {
    font-size: 25px;
  }
  
  .contact__linkedin {
    
    width: 80px;
  }
  
  .contact__mail {
    width: 100px;
  }
}


  